@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color:#09090b;
    --secondary-background:#17161d;
    --text-color:#f5f6fa;
    --text-secondary:#a0a0a1;
}
body{
    background: var(--background-color);
    
   }
main{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 7% auto;
    background: var(--secondary-background);
    box-shadow: 1px 1px 18px 19px rgba(43,43,43,0.33);
    border-radius: 5px;
}

h1{
    max-width: 100%;
    font-size: 2rem;
    font-weight: 500;
}
h1 span{
    font-weight: 900;
    color: rgb(207, 66, 95);
}
p{
    font-weight: 100;
    margin: 7% 0 3% 0;
    font-size: 14px;
    color: var(--text-secondary);
}
.hero-card{
    color: var(--text-color);
    display: flex;
    justify-content: space-evenly;
    border-radius: 20px;
    align-items: center;

}
.info-container{
    padding: 7% 0;
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.img-container{
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    
}
.btn-container{
    margin-top: 5%;
    display: flex;
    gap: 10px;
    width: 100%;

}
.btn-container button{
    height: 100%;
    padding: 5px;
    border-radius: 20px;
    border: none;
    width: 25%;
    background-color: rgb(207, 66, 95);
    color: var(--text-color);
    font-weight: 500;
    cursor: pointer;

}
.btn-container button:nth-child(2){
    background:none;
    padding: 2px;
    color: #f5f6fa;
    border: 3px solid rgb(207, 66, 95);
}

.img-container img{
    width: 100%;
    border-radius: 15px;
    -webkit-box-shadow: 1px 16px 36px -14px rgba(255,255,255,0.09);
    -moz-box-shadow: 1px 16px 36px -14px rgba(255,255,255,0.09);
    box-shadow: 1px 16px 36px -14px rgba(255,255,255,0.09);
}
.about-card{
    width: 70%;
    margin: auto;
    margin-bottom: 2%;
}
hr{
    border: 1px solid var(--background-color);
}
.about-card p{
    text-align: center;
}